stages:
    - build
    - test
    - publish
    - deploy

variables:
    APIGATEWAY_DIR: "src/ApiGateway"
    EVENTBUS_DIR: "src/Infrastructure/Infrastructure.Messaging"
    ANNOUNCEMENT_API_DIR: "src/Services/Announcement/Announcement.Api"
    ANNOUNCEMENT_EVENTHANDLER_DIR: "src/Services/Announcement/Announcement.EventHandler"
    COURSE_API_DIR: "src/Services/Course/Course.Api"
    COURSE_EVENTHANDLER_DIR: "src/Services/Course/Course.EventHandler"
    IDENTITY_API_DIR: "src/Services/Identity/Identity.Api"
    IDENTITY_EVENTHANDLER_DIR: "src/Services/Identity/Identity.EventHandler"
    SCHEDULE_API_DIR: "src/Services/Schedule/Schedule.Api"
    SCHEDULE_EVENTHANDLER_DIR: "src/Services/Schedule/Schedule.EventHandler"
    STUDYPROGRESS_API_DIR: "src/Services/StudyProgress/StudyProgress.Api"
    STUDYPROGRESS_EVENTHANDLER_DIR: "src/Services/StudyProgress/StudyProgress.EventHandler"
    WEBSPA_DIR: "src/Web/Spa"

build_services:
    stage: build
    image: mcr.microsoft.com/dotnet/core/sdk:3.1-buster
    artifacts:
        expire_in: 1 day
        paths:
            - $APIGATEWAY_DIR/bin/
            - $EVENTBUS_DIR/bin/
            - $ANNOUNCEMENT_API_DIR/bin/
            - $ANNOUNCEMENT_EVENTHANDLER_DIR/bin/
            - $COURSE_API_DIR/bin/
            - $COURSE_EVENTHANDLER_DIR/bin/
            - $IDENTITY_API_DIR/bin/
            - $IDENTITY_EVENTHANDLER_DIR/bin/
            - $SCHEDULE_API_DIR/bin/
            - $SCHEDULE_EVENTHANDLER_DIR/bin/
            - $STUDYPROGRESS_API_DIR/bin/
            - $STUDYPROGRESS_EVENTHANDLER_DIR/bin/
    script:
        - cd src/
        - dotnet restore Services.sln --verbosity normal
        - dotnet publish Services.sln -c Release --no-restore --verbosity normal
    only:
        refs:
            - /^ABP-[0-9]+.*$/i
            - develop
            - master

build_webspa:
    stage: build
    image: node:13.10.1-alpine
    artifacts:
        expire_in: 1 day
        paths:
            - $WEBSPA_DIR/dist/Spa/
    script:
        - cd $WEBSPA_DIR/
        - npm ci
        - npm run build -- --prod
    only:
        refs:
            - /^ABP-[0-9]+.*$/i
            - develop
            - master

test_services:
    stage: test
    image: mcr.microsoft.com/dotnet/core/sdk:3.1-buster
    dependencies:
        - build_services
    script:
        - cd src/
        - dotnet test Services.sln -c Release --no-build --verbosity normal
    only:
        refs:
            - /^ABP-[0-9]+.*$/i
            - develop
            - master

.publish_service_img: &publish_service_img
    stage: publish
    image:
        name: gcr.io/kaniko-project/executor:debug
        entrypoint: [""]
    dependencies:
        - build_services
    before_script:
        - echo "{\"auths\":{\"https://index.docker.io/v1/\":{\"auth\":\"$(echo -n $CI_REGISTRY_USER:$CI_REGISTRY_PASSWORD | base64)\"}}}" > /kaniko/.docker/config.json
    only:
        refs:
            - master

publish_apigateway_img:
    <<: *publish_service_img
    script:
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$APIGATEWAY_DIR/Dockerfile --destination i360147/apigateway --target production

publish_identity_api_img:
    <<: *publish_service_img
    script:
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$IDENTITY_API_DIR/Dockerfile --destination i360147/identityapi --target production

publish_identity_eventhandler_img:
    <<: *publish_service_img
    script:
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$IDENTITY_EVENTHANDLER_DIR/Dockerfile --destination i360147/identityeventhandler --target production

publish_course_api_img:
    <<: *publish_service_img
    script:
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$COURSE_API_DIR/Dockerfile --destination i360147/courseapi --target production

publish_course_eventhandler_img:
    <<: *publish_service_img
    script:
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$COURSE_EVENTHANDLER_DIR/Dockerfile --destination i360147/courseeventhandler --target production

publish_studyprogress_api_img:
    <<: *publish_service_img
    script:
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$STUDYPROGRESS_API_DIR/Dockerfile --destination i360147/studyprogressapi --target production

publish_studyprogress_eventhandler_img:
    <<: *publish_service_img
    script:
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$STUDYPROGRESS_EVENTHANDLER_DIR/Dockerfile --destination i360147/studyprogresseventhandler --target production

publish_schedule_api_img:
    <<: *publish_service_img
    script:
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$SCHEDULE_API_DIR/Dockerfile --destination i360147/scheduleapi --target production

publish_schedule_eventhandler_img:
    <<: *publish_service_img
    script:
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$SCHEDULE_EVENTHANDLER_DIR/Dockerfile --destination i360147/scheduleeventhandler --target production

publish_announcement_api_img:
    <<: *publish_service_img
    script:
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$ANNOUNCEMENT_API_DIR/Dockerfile --destination i360147/announcementapi --target production

publish_announcement_eventhandler_img:
    <<: *publish_service_img
    script:
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$ANNOUNCEMENT_EVENTHANDLER_DIR/Dockerfile --destination i360147/announcementeventhandler --target production

publish_webspa_img:
    stage: publish
    image:
        name: gcr.io/kaniko-project/executor:debug
        entrypoint: [""]
    dependencies:
        - build_webspa
    script:
        - echo "{\"auths\":{\"https://index.docker.io/v1/\":{\"auth\":\"$(echo -n $CI_REGISTRY_USER:$CI_REGISTRY_PASSWORD | base64)\"}}}" > /kaniko/.docker/config.json
        - /kaniko/executor --context $CI_PROJECT_DIR/$WEBSPA_DIR/ --dockerfile $CI_PROJECT_DIR/$WEBSPA_DIR/Dockerfile --destination i360147/webspa --target production
    only:
        refs:
            - master