stages:
    - build
    - test
    - deploy

variables:
    APIGATEWAY_DIR: "src/ApiGateway"
    EVENTBUS_DIR: "src/Infrastructure/Infrastructure.Messaging"
    ANNOUNCEMENT_API_DIR: "src/Services/Announcement/Announcement.Api"
    ANNOUNCEMENT_EVENTHANDLER_DIR: "src/Services/Announcement/Announcement.EventHandler"
    COURSE_API_DIR: "src/Services/Course/Course.Api"
    COURSE_EVENTHANDLER_DIR: "src/Services/Course/Course.EventHandler"
    IDENTITY_API_DIR: "src/Services/Identity/Identity.Api"
    IDENTITY_EVENTHANDLER_DIR: "src/Services/Identity/Identity.EventHandler"
    SCHEDULE_API_DIR: "src/Services/Schedule/Schedule.Api"
    SCHEDULE_EVENTHANDLER_DIR: "src/Services/Schedule/Schedule.EventHandler"
    STUDYPROGRESS_API_DIR: "src/Services/StudyProgress/StudyProgress.Api"
    STUDYPROGRESS_EVENTHANDLER_DIR: "src/Services/StudyProgress/StudyProgress.EventHandler"
    WEBSPA_DIR: "src/Web/Spa"

build_services:
    stage: build
    image: mcr.microsoft.com/dotnet/core/sdk:3.1-buster
    script:
        - cd src/
        - dotnet restore Services.sln --verbosity normal
        - dotnet publish Services.sln -c Release --no-restore --verbosity normal
    artifacts:
        expire_in: 1 day
        paths:
            - $APIGATEWAY_DIR/bin/
            - $EVENTBUS_DIR/bin/
            - $ANNOUNCEMENT_API_DIR/bin/
            - $ANNOUNCEMENT_EVENTHANDLER_DIR/bin/
            - $COURSE_API_DIR/bin/
            - $COURSE_EVENTHANDLER_DIR/bin/
            - $IDENTITY_API_DIR/bin/
            - $IDENTITY_EVENTHANDLER_DIR/bin/
            - $SCHEDULE_API_DIR/bin/
            - $SCHEDULE_EVENTHANDLER_DIR/bin/
            - $STUDYPROGRESS_API_DIR/bin/
            - $STUDYPROGRESS_EVENTHANDLER_DIR/bin/

build_webspa:
    stage: build
    image: node:13.10.1-alpine
    script:
        - cd $WEBSPA_DIR/
        - npm ci
        - npm run build -- --prod
    artifacts:
        expire_in: 1 day
        paths:
            - $WEBSPA_DIR/dist/Spa/

test_services:
    stage: test
    image: mcr.microsoft.com/dotnet/core/sdk:3.1-buster
    script:
        - cd src/
        - dotnet test Services.sln -c Release --no-build --verbosity normal
    dependencies:
        - build_services

build_apigateway_img:
    stage: deploy
    image:
        name: gcr.io/kaniko-project/executor:debug
        entrypoint: [""]
    script:
        - echo "{\"auths\":{\"https://index.docker.io/v1/\":{\"auth\":\"$(echo -n $CI_REGISTRY_USER:$CI_REGISTRY_PASSWORD | base64)\"}}}" > /kaniko/.docker/config.json
        - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/$APIGATEWAY_DIR/Dockerfile --destination i360147/apigateway --cache=true --target=production
    dependencies:
        - build_services