stages:
    - build
    - test
    - publish
    - deploy

variables:
    APIGATEWAY_DIR: src/ApiGateway
    ANNOUNCEMENT_API_DIR: src/Services/Announcement/Announcement.Api
    ANNOUNCEMENT_EVENTHANDLER_DIR: src/Services/Announcement/Announcement.EventHandler
    ANNOUNCEMENT_UNITTESTS_DIR: src/Services/Announcement/Announcement.UnitTests
    COURSE_API_DIR: src/Services/Course/Course.Api
    COURSE_EVENTHANDLER_DIR: src/Services/Course/Course.EventHandler
    COURSE_UNITTESTS_DIR: src/Services/Course/Course.UnitTests
    IDENTITY_API_DIR: src/Services/Identity/Identity.Api
    IDENTITY_EVENTHANDLER_DIR: src/Services/Identity/Identity.EventHandler
    IDENTITY_UNITTESTS_DIR: src/Services/Identity/Identity.UnitTests
    SCHEDULE_API_DIR: src/Services/Schedule/Schedule.Api
    SCHEDULE_EVENTHANDLER_DIR: src/Services/Schedule/Schedule.EventHandler
    SCHEDULE_UNITTESTS_DIR: src/Services/Schedule/Schedule.UnitTests
    STUDYPROGRESS_API_DIR: src/Services/StudyProgress/StudyProgress.Api
    STUDYPROGRESS_EVENTHANDLER_DIR: src/Services/StudyProgress/StudyProgress.EventHandler
    STUDYPROGRESS_UNITTESTS_DIR: src/Services/StudyProgress/StudyProgress.UnitTests
    PUBLISH_DIR: bin/Release/netcoreapp3.1/publish
    TEST_RESULTS: TestResults/TestResults.xml

default:
    before_script:
        - apt-get update && apt-get install p7zip-full -y

build_services:
    stage: build
    image: mcr.microsoft.com/dotnet/core/sdk:3.1-buster
    only:
        refs:
            - /^ABP-[0-9]+.*$/i
            - develop
            - master
    cache:
        key: nuget_cache
        paths:
            - .nuget/
    script:
        - dotnet restore src/Services.sln --packages .nuget/
        - dotnet publish src/Services.sln -c Release --no-restore
        - 7z a services.7z
            $APIGATEWAY_DIR/$PUBLISH_DIR
            $ANNOUNCEMENT_API_DIR/$PUBLISH_DIR
            $ANNOUNCEMENT_EVENTHANDLER_DIR/$PUBLISH_DIR
            $COURSE_API_DIR/$PUBLISH_DIR 
            $COURSE_EVENTHANDLER_DIR/$PUBLISH_DIR
            $IDENTITY_API_DIR/$PUBLISH_DIR
            $IDENTITY_EVENTHANDLER_DIR/$PUBLISH_DIR
            $SCHEDULE_API_DIR/$PUBLISH_DIR 
            $SCHEDULE_EVENTHANDLER_DIR/$PUBLISH_DIR
            $STUDYPROGRESS_API_DIR/$PUBLISH_DIR 
            $STUDYPROGRESS_EVENTHANDLER_DIR/$PUBLISH_DIR
    artifacts:
        expire_in: 1 day
        paths:
            - services.7z

test_services:
    stage: test
    image: mcr.microsoft.com/dotnet/core/sdk:3.1-buster
    only:
        refs:
            - /^ABP-[0-9]+.*$/i
            - develop
            - master
    cache:
        key: nuget_cache
        paths:
            - .nuget/
    dependencies:
        - build_services
    script:
        - 7z x services.7z
        - dotnet restore src/Services.sln --packages .nuget/
        - dotnet test src/Services.sln -c Release --no-restore --test-adapter-path:src/ --logger:"junit;MethodFormat=Class;FailureBodyFormat=Verbose"
    artifacts:
        when: always
        paths:
            - $ANNOUNCEMENT_UNITTESTS_DIR/$TEST_RESULTS
            - $COURSE_UNITTESTS_DIR/$TEST_RESULTS
            - $IDENTITY_UNITTESTS_DIR/$TEST_RESULTS
            - $SCHEDULE_UNITTESTS_DIR/$TEST_RESULTS
            - $STUDYPROGRESS_UNITTESTS_DIR/$TEST_RESULTS
        reports:
            junit:
                - $ANNOUNCEMENT_UNITTESTS_DIR/$TEST_RESULTS
                - $COURSE_UNITTESTS_DIR/$TEST_RESULTS
                - $IDENTITY_UNITTESTS_DIR/$TEST_RESULTS
                - $SCHEDULE_UNITTESTS_DIR/$TEST_RESULTS
                - $STUDYPROGRESS_UNITTESTS_DIR/$TEST_RESULTS

publish_images:
    stage: publish
    image:
        name: gcr.io/kaniko-project/executor:debug
        entrypoint: [""]
    only:
        refs:
            - master
    dependencies:
        - build_services
    script:
        - 7z x services.7z
        - echo "{\"auths\":{\"https://index.docker.io/v1/\":{\"auth\":\"$(echo -n $CI_REGISTRY_USER:$CI_REGISTRY_PASSWORD | base64)\"}}}" > /kaniko/.docker/config.json
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$APIGATEWAY_DIR/Dockerfile --destination i360147/apigateway --target production
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$IDENTITY_API_DIR/Dockerfile --destination i360147/identityapi --target production
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$IDENTITY_EVENTHANDLER_DIR/Dockerfile --destination i360147/identityeventhandler --target production
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$COURSE_API_DIR/Dockerfile --destination i360147/courseapi --target production
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$COURSE_EVENTHANDLER_DIR/Dockerfile --destination i360147/courseeventhandler --target production
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$STUDYPROGRESS_API_DIR/Dockerfile --destination i360147/studyprogressapi --target production
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$STUDYPROGRESS_EVENTHANDLER_DIR/Dockerfile --destination i360147/studyprogresseventhandler --target production
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$SCHEDULE_API_DIR/Dockerfile --destination i360147/scheduleapi --target production
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$SCHEDULE_EVENTHANDLER_DIR/Dockerfile --destination i360147/scheduleeventhandler --target production
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$ANNOUNCEMENT_API_DIR/Dockerfile --destination i360147/announcementapi --target production
        - /kaniko/executor --context $CI_PROJECT_DIR/src/ --dockerfile $CI_PROJECT_DIR/$ANNOUNCEMENT_EVENTHANDLER_DIR/Dockerfile --destination i360147/announcementeventhandler --target production