<div class="container-fluid h-100">
    <div class="row">
        <div class="col-md-12 p-0 ">
            <app-navigation-bar [student]="student"></app-navigation-bar>
        </div>
    </div>
    <div class="row h-100">
        <div class="col-md-1 fontys-color p-0" >
            <app-side-bar (setActiveFuncChange)="activateFunction($event)"></app-side-bar>
        </div>
        <div class="col-md-9">
            <app-main-content [activeFunctions]="activeFuncs" [student]="student"></app-main-content>
        </div>
        <div class="col-md-2 p-0 bg-light">
            <app-notification-bar></app-notification-bar>
        </div>
    </div>
</div>
