#profilePicture{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-size: cover;
    padding-bottom: -1pc;
}
        
@media (min-width: 1020px){
    .navbar li {
        margin-left : 1pc;
        margin-right : 1pc;
    }
}

.active-purple-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #44345e;
    box-shadow: 0 0 0 1px #85508f;
  }
