

<div class="container">

  <div>
    <h6 >Test</h6>
    </div>
  
    
    <ng-template [ngIf]="myCourses.length > 0 " [ngIfElse]="none">
  <div class="col-sm-12 mb-4 "
  *ngFor ="let myClass of myCourses"
  >
  <ng-template [ngIf]="getAssignments(myClass).length > 0 " [ngIfElse]="noAssignemnts">

    <div class="row no-gutters mb-2 ">
      <div class="col-2  card-header  text-center border bg-info border-info" >   
            <h5 class="card-text bg-light text-info " >{{myClass.Name}}</h5>
      </div> 
      <div class="col-sm-10   border border-info  max width mw-100 max hight mh-100" 
      >
        <div class="card-body col-10 border max width mw-100 max hight mh-100"
        *ngFor ="let assignment of getAssignments(myClass)"
        >
          <h6 class="font-weight-normal"> </h6>
          <h6 class="card-text  ">{{assignment.Name}}</h6>
          <a href="#" class="card-link text-info" ><u>Link to assignment </u></a>
        </div>         
      </div>   
  </div>    
</ng-template>
<ng-template #noAssignemnts>
 
</ng-template>
</div>
</ng-template>
<ng-template #none>
  <p>The click counter <strong> IS not greater </strong> than 4</p>
</ng-template>


  <div>
    <h6 >Date: 30 April 2020</h6>
    </div>
  
    

  <div class="col-sm-12 mb-4 ">

    <div class="row no-gutters mb-2 ">
      <div class="col-2  card-header  text-center border bg-info border-info" >   
            <h5 class="card-text bg-light text-info " >{{CourseName}}</h5>
      </div>

      <div class="col-sm-10   border border-info  max width mw-100 max hight mh-100">
        <div class="card-body col-10 border max width mw-100 max hight mh-100">
          <h6 class="font-weight-normal"> </h6>
          <h6 class="card-text  ">{{CourseAssignemnt}}</h6>
          <a href="#" class="card-link text-info" ><u>Link to assignment </u></a>
        </div>  
        <div class="card-body col-10 border border-info  max width mw-100 max hight mh-100">
          <h6 class="card-text  ">{{CourseAssignemnt}}</h6>
          <a href="#" class="card-link text-info"><u>Link to assignment </u></a>
        </div>  
      </div>   
  </div>    

  <div class="row no-gutters">
    <div class="card-header   col-2 bg-dark border border-dark text-center">   
          <h5 class="card-text bg-light">EDB4</h5>
    </div>

    <div class="col-sm-10  max width mw-100 max hight mh-100">
      <div class="card-body col-10 border border-dark max width mw-100 max hight mh-100">
        <h6 class="card-text ">The assignemnt name</h6>
        <a href="#" class="card-link text-dark"><u>Link to assignment </u></a>
      </div>  
      <div class="card-body col-10 border border-dark  max width mw-100 max hight mh-100">
        <h6 class="card-text  ">The assignemnt name</h6>
        <a href="#" class="card-link text-dark"><u>Link to assignment </u></a>
      </div>  
    </div>   
</div>    

</div>

<div class="col-sm-12 mb-4">
    
  <div>
<h6 >Date: 1 May 2020</h6>
</div>
  <div class="row no-gutters">
    <div class="card-header bg-success border border-success col-2 border text-center">   
          <h5 class="card-text bg-light text-success ">PROEP  </h5>
    </div>

    <div class="col-sm-10  max width mw-100 max hight mh-100">
      <div class="card-body col-10 border border-success max width mw-100 max hight mh-100">
        <h6 class="card-text ">The assignemnt name</h6>
        <a href="#" class="card-link text-success"><u>Link to assignment </u></a>
      </div>  
     
    </div>   
</div>    
</div>

</div>