<div class="container">
    <h3 class="mt-4 mb-3"> Announcement</h3>
    <div class="card mt-2">
        <div class="card-body p-2">
          <h6 class="card-title mb-2">BBQ Party - 2020</h6>
          <p class="card-subtitle text-muted">From: PROXY</p>
          <p class="card-subtitle text-muted">Date: 29/04/2020</p>
          <p class="card-text m-0">Let's have a great party after the Corona crisis...</p>
          <a href="#" class="card-link float-right">Read</a>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-body p-2">
          <h6 class="card-title mb-2">EXAM AFTER ALL (CORONA + BBQ 2020)</h6>
          <p class="card-subtitle text-muted">From: Eekhout,Michel M.M.I.M. van</p>
          <p class="card-subtitle text-muted">Date: 29/04/2020</p>
          <p class="card-text m-0">Finally, I am happy to announce that the exam is able to take place at our campus. MAKE FONTYS GREAT AGAIN!</p>
          <a href="#" class="card-link float-right">Read</a>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-body p-2">
          <h6 class="card-title mb-2">PROEP FINAL ASSESSMENT</h6>
          <p class="card-subtitle text-muted">From: Miakeil Shagalani Lor</p>
          <p class="card-subtitle text-muted">Date: 29/04/2020</p>
          <p class="card-text m-0">Let's have a great presentation before the first two-announcement...</p>
          <a href="#" class="card-link float-right">Read</a>
        </div>
    </div>
</div>

