
<div class="container-fluid mh-100 mw-100">
    <div class="row float-right">
        <a class="h1 text-success" data-toggle="modal" data-target="#enrollCourse"><i class="fas fa-plus-circle"></i></a>
        <div class="modal fade" id="enrollCourse" tabindex="-1" role="dialog" aria-hidden="true">
            <app-enroll-course [courses]="courses" (enrollDoneEvent)="refreshEnrolledCourses()" [student]="student"></app-enroll-course>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 d-flex mt-3" *ngFor="let enrollment of enrollments">
            <app-course [course]="enrollment.class.course"></app-course>
        </div>   
    </div>
</div>
