<div class="container-fluid mt-4">
    <app-dashboard *ngIf="activeFunctions[0]"></app-dashboard>
    <app-courses *ngIf="activeFunctions[1]" [student]="student"></app-courses>
    <app-submissions *ngIf="activeFunctions[2]"></app-submissions>
    <app-progress *ngIf="activeFunctions[3]" [student]="student"></app-progress>
    <app-calendar *ngIf="activeFunctions[4]"></app-calendar>
    <app-student-profile *ngIf="activeFunctions[5]" [student]="student"></app-student-profile>
    <!-- <router-outlet></router-outlet> -->
</div>
